@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}
h1,h2,h3,h4{
    font-family: 'Oswald';
    color: white;
}
.logo>h1{
    font-family: 'Titillium Web';
}
.first-screen{
    background-image: url(img/Rectangle2.jpg);
}
.header{
    background-color: rgba(0, 91, 193, .6);
}
.logo{
    display: flex;
    font-size: 24px;
}
.link{
    text-decoration:none;
    
}
.navlist{
    display: flex;
}
